{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "singleQuote": false
      }
    }
  ]
}
