<%= render "shared/header", title: t('compliments') %>
<div class="m-4 lg:m-7">
  <h3>
    I am very lucky to have worked with a lot of wonderful humans. Some of them have said very kind things about me.
  </h3>
  <br />
  <div>
    <%= image_tag('brag-student.png', alt:"email from a student that reads, I hope this email finds you well and in good
    spirits. As my time at LEARN Academy comes to an end, I am grateful for your guidance as a mentor for this
    internship and the whole LEARN experience. From day one, your guidance in understanding the complex coding
    challenges and your emphasis on collaboration and growth as a junior developer has been invaluable. I want to than
    the entire LEARN Academy team for fostering a supportive and inclusive environment. So thank you again, Sarah! The
    knowledge and skills I've gained under your guidance will stay with me throughout mny career. I'm incredibly
    grateful for the opportunity to work with you and i look forward to staying connected.", class: 'mx-auto border') %>
  </div>
</div>
