@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'montserrat';
    src: url('montserrat.ttf');
  }
}

:root {
  margin: 0;
  font-family: montserrat;
  font-size: 16pt;
  width: 100vw;
  color: #121f32;
}
